{% extends "layout.html" %}
{% block body %}

 <body class = formato2>

<form class='estilos' action=""{{ url_for('conPerm')}}"" method="post">

 <center><h1>Permisos del sistema</h1></center>
 <br>
 <br>
	<div style="height:200px;width:700px;overflow:scroll;">	
	
	<table width="100%" border="1">
	<tr>
	<th scope="col">Nombre</th>
	<th scope="col">Descripcion</th>
	</tr>

            	{% for permiso in listPermiso %}
						<tr>
						<td>{{ permiso.nombre }}</td>
						<td>{{ permiso.descripcion }}</td>
						</tr>  	
  				{% endfor %}
	  	

	</table>
	</div>	

	<center>
	<input type="submit" name="opcion" value="Home" />
	</center>
	</form>
	</body>
{% endblock %}