{% extends "layout.html" %}
{% block body %}

 <body class = formato2>

<form class='estilos' action="{{ url_for('admProy')}}" method="post">

 <center><h1>ADMINISTRACION DE PROYECTOS</h1></center>
 <br>
 <br>
	<div style="height:150px;width:700px;overflow:auto;">	
	
	<table width="100%" border="1">
	<tr>
	<th scope="col"> </th>
	<th scope="col">Nombre</th>
	<th scope="col">Fecha Creacion</th>
	<th scope="col">Lider</th>
	<th scope="col">Estado</th>	
	</tr>

		  {% for proyecto in listProy %}
		  		 {% if proyecto.estado != 'eliminado' %}
						<tr>
						<td><input name="select" type="radio" value={{ proyecto.idproyecto }} checked /></td>	
						<td>{{ proyecto.nombre }}</td>
						<td>{{ proyecto.fechacreacion}}</td>	
						<td>{{ proyecto.usuario.username }}</td>
						<td>{{ proyecto.estado }}</td>
						</tr> 
					{% endif %}	 	
	  	{% endfor %}
	  	

	</table>
	</div>	
	
	<br>
	<input type="submit" name="opcion" value="Crear" />
	<input type="submit" name="opcion" value="Administrar Fases" />
	<input type="submit" name="opcion" value="Modificar" />
	<input type="submit" name="opcion" value="Eliminar" onclick="return confirmar('¿Está seguro que desea eliminar?')"/>
	<br>
 	<br>
	<input type="submit" name="opcion" value="Consultar " />
	<input type="submit" name="opcion" value="Comite de Cambios"/>
	<br>
	<br>
	<input type="text" name="buscar"/>
	<select name="atributo">
		<option value="nombre">Nombre</option>
		<option value="fechaCreacion">Fecha de Creacion</option>
		<option value="lider">Lider</option>
	</select>
	<input type="submit" name="opcion" value="Buscar" />
	<br>
	<br>
	<center>
	<input type="submit" name="opcion" value="Home" />
	</center>
	</form>
	</body>
{% endblock %}