{% extends "layout.html" %}
{% block body %}
<body class = formato2>

        <form class='estilos' >

  <H1><CENTER>USUARIOS</CENTER></H1>
		
	
	<TABLE BORDER WIDTH="100%">

	<COL SPAN="4" ALIGN="left">
	<THEAD>
	<TH>Usuario<TH>Nombre<TH>Apellido<TH>C.I<TH>ok

	<TFOOT>
	<TR>
	
	  {% for user in listUser %}
		  <TD>	{{ user.username }}
		  <TD>	{{ user.nombre }}
		  <TD>	{{ user.apellido }}
		  <TD>	{{ user.ci}}
		  <TD><input type="radio" name="select" value= {{ user.idusuario }}>
	<TR>

  	{% endfor %}
	<TR>

	<TBODY>
	</TABLE>	
<BR>
<BR>
<TABLE BORDER WIDTH="30%">
<div>

<input type='text' value=''>
<input type='submit' value='Buscar'>
</div>


<div>
 <a type='submit' href="{{ url_for('crearUsr') }}">Crear</a>
 <a type='submit' href="{{ url_for('modUsr', idusuario=select) }}">Modificar</a>
<input type='submit' value='Eliminar'>
<input type='submit' value='Home'>
</div>


        </form>
    </body>
{% endblock %}

