{% extends "layout.html" %}
{% block body %}
<body class=formato1>
        <form class='estilos' action="{{ url_for('asigItemsEnLB') }}" method=post>
             <br>
        	<center><h1>ASIGNACION DE ITEMS A UNA LINEA BASE</h1></center>
        	<br>
        	    <div><label>Items de fase seleccionada:</label>
	            	<br>
	            	<div style="height:150px;width:220px;overflow:auto;">	
	            	<table width="50%" border="1">
					<tr>
					<th scope="col"> </th>
					<th scope="col">NOMBRE</th>
					<th scope="col">ESTADO</th>					
					</tr>
						{%for item in listItemEnLB%}
							<tr>
							<td><INPUT TYPE="checkbox" checked="checked" NAME="iditem" VALUE="{{ item.iditem }}"></td> 	
							<td>{{ item.nombre }}</td>	
							<td>{{ item.estado }}</td>
							</tr>
						{% endfor %}
						{% for item in listItem %}
							{% if item.estado != 'eliminado' %}
							<tr>
							<td><INPUT TYPE="checkbox" NAME="iditem" VALUE="{{ item.iditem }}"></td> 		
							<td>{{ item.nombre }}</td>	
							<td>{{ item.estado }}</td>
							</tr>
							{% endif %}  	
						 {% endfor %}						  	
						  	
					</table>
				    <br>        
            </div>
            <div>
            <center>
            <input type='submit' name="opcion" value='Guardar'>
            <input type='submit' name="opcion" value='Cancelar'>
            </center>
            </div>  
        </form>
    </body>
{% endblock %}