{% extends "layout.html" %}
{% block body %}

<body class = formato2>
	<form class='estilos' action="{{ url_for('cargarAtributos')}}" method="post">
	
		<H1><CENTER>Definicion atributos</CENTER></H1>

	            	<br>
	            	<div style="height:150px;width:430px;overflow:auto;">	
	            	<table width="50%" border="1">
					<tr>
					<th scope="col">NOMBRE</th>
					<th scope="col">VALOR</th>
					</tr>
					{% set count = 0 %}
					{% for atributo in listaAtributos %}
							<tr>
								<td>{{ atributo.nombre }}</td>
								{% if listAtribItem is defined %}
									<td><input type='text' name={{ atributo.nombre }} value="{{ listAtribItem[count].valor }}"/></td>
								{% else %}
									<td><input type='text' name={{ atributo.nombre }} value="{{ atributo.valordefecto }}"/></td>
								{% endif %}
							</tr>
  							{% set count = count + 1 %}
					{% endfor %}
					</table>
				    <br>        
            </div>

	    <center>
	    <input type="submit" name="opcion" value="Aceptar"/>
	<br><br>	
	    <input type="submit" name="opcion" value="Cancelar"/>

	
		<br>

		</center>
	</form>
</body>
{% endblock %}
	           