{% extends "layout.html" %}
{% block body %}
<body class=formato1>
        <form class='estilos' action="{{ url_for('conLB') }}" method=post>
	            <div><label>Consulta de Items de Linea Base</label>
	            	<br>
	            	<div style="height:150px;width:200px;overflow:auto;">	
	            	<table width="50%" border="1">
					<tr>
					<th scope="col"> </th>
					<th scope="col">NOMBRE</th>
					<th scope="col">VERSION</th>
					<th scope="col">ESTADO</th>					
					</tr>
						{% for item in listItem %}
						<tr>
						<td><input name="iditem" type="radio" value={{ item.iditem }} checked /></td>	
						<td>{{ item.nombre }}</td>	
						<td>{{ item.version}}</td>						
						<td>{{ item.estado}}</td>
						</tr>  	
						  	{% endfor %}
					</table>
				    <br>        
            </div>
            <div>
            <input type='submit' name="opcion" value='Aceptar'>
            </center>

        </form>
    </body>
{% endblock %}