{% extends "layout.html" %}
{% block body %}
	<body class=formato1>
        <form class='estilos' action="{{ url_for('admRol') }}" method=get>
         <center><h1>Consulta de Rol</h1></center>
 			<br>
 			<br>
            <div><label>Nombres:</label>{{ rol.nombre }}</div>
            <div><label>Descripcion:</label><textarea cols="4" rows="4" readonly>{{rol.descripcion}}</textarea></div>
            
            
		    <div><label>Permisos:<label></div>	
			<div style="height:150px;width:200px;overflow:scroll;">	
			<TABLE BORDER WIDTH="70%">
			<COL SPAN="4" ALIGN="left">
			<tr>
			<th scope="col">Nombre</th>
			<th scope="col">OK</th>
			</tr>
            	{% for permiso in listPermiso %}
						<tr>
						<td>{{ permiso.nombre }}</td>
						{% if permiso.idpermiso in idpermisos %}
							<td><INPUT TYPE="checkbox" NAME="idpermisos"  disabled="disabled" checked="checked" VALUE={{ permiso.idpermiso }}></td>
						{% else %}
                        	<td><INPUT TYPE="checkbox" NAME="idpermisos"  disabled="disabled" VALUE={{ permiso.idpermiso }}></td>
                        {% endif %}
						</tr>  	
  				{% endfor %}
			</table>
			</div>
           
            
		    <div><center><input type='submit' value='Aceptar'>	     
            </center></div>
        </form>
    </body>
{% endblock %}