   {% extends "layout.html" %}
{% block body %}
<body class=formato1>
        <form class='estilos' action="{{ url_for('crearRol') }}" method=post>
            <center><h1>Creacion de Rol</h1></center>
          	<br>
          	<br>
            <div><label>Nombres:</label><input type='text' name=nombre></div>
            <div><label>Descripcion:</label><textarea rows='6'name=descripcion></textarea></div>

		
		    <div><label>Permisos:<label></div>	
    
		<div style="height:150px;width:200px;overflow:auto;">	
		<TABLE BORDER WIDTH="70%">
		<COL SPAN="4" ALIGN="left">
			<tr>
			<th scope="col">Nombre</th>
			<th scope="col">OK</th>
			</tr>
            	{% for permiso in listPermiso %}
						<tr>
						<td>{{ permiso.nombre }}</td>
						<td><INPUT TYPE="checkbox" NAME="permisos" VALUE={{ permiso.idpermiso }}></td>
						</tr>  	
  				{% endfor %}
			</table>
			</div>
               
             <div><center><input type='submit' name="opcion" value='Crear'>
            <input type='submit' name="opcion" value='Cancelar'></center></div>
                
        </form>
    </body>
{% endblock %}
   
   
   
