{% extends "layout.html" %}
{% block body %}
<body class=formato4>
        <form class='estilos' action="{{ url_for('crearItem') }}" method=post>
             <center><h1>CREACION DE ITEM</h1></center>
          	<br>
          	<br>    
            <div><label>Nombre:</label><input type='text' name=nombre></div>        
            <div><label>Descripcion:</label><textarea rows='2	'name=descripcion></textarea></div>
            <div><label>Complejidad</label><input type='password' name=complejidad></div>
            <div><label>Prioridad:</label><input type='text' name=prioridad></div>
            <div><label>Costo:</label><input type='text' name=costo></div>
            
            <div><label>Tipo de Item:</label>
				<select name="tipoitem">
						<option value="TipoItem">Poner la lista</option>
				</select>
				<input type='submit' name="opcion" value='Mostrar Atributos'>
	            </div>
	            <div><label>Atributos segun Tipo de Item:</label>
	            	<br>
	            	<div style="height:150px;width:430px;overflow:auto;">	
	            	<table width="50%" border="1">
					<tr>
					<th scope="col">NOMBRE</th>
					<th scope="col">VALOR</th>
					</tr>
								<td><label>Atributo1</label></td>
								<td><input type='text' name=valor</td>
					</table>
				    <br>        
            </div>
            

            <div><center><input type='submit' name="opcion" value='Crear'>
            <input type='submit' name="opcion" value='Cancelar'></center></div>

        </form>
    </body>
{% endblock %}