<html>
    <head>
        <title>Usuarios</title>
        <link rel='stylesheet' href='estilos.css'>
    </head>
    <body class=formato1>
        <form class='estilos'>
            <div><label>Nombres:</label><input type='text' value=''></div>
            <div><label>Apellidos:</label><input type='text' value=''></div>
            <div><label>Username:</label><input type='text' value=''></div>
            <div><label>Password</label><input type='password' value=''></div>
            <div><label>Telefono:</label><input type='text' value=''></div>
            <div><label>CI:</label><input type='text' value=''></div>
            <div><center><input type='submit' value='Aceptar'>
            <input type='submit' value='Cancelar'></center></div>

        </form>
    </body>
</html>
