/*THELMA: este te dejé asi para que abras y veas en el explorador primero mas o menos como se debe quedar,
asi adaptas a la forma en la que vas a hacer, los "ir" podrian ser solo links a otra página,
puse eso porque hay que hacer por cada fase que se crea eso.*/

<html>
    <head>
        <title>Definicion de Fases</title>
        <link rel='stylesheet' href='estilos.css'>
    </head>

    <body class=formato2>
        <form class='estilos'>

	<H1><CENTER>Definicion de Fases</CENTER></H1>
		
	<div style="height:150px;width:700px;overflow:scroll;">	
	<TABLE BORDER WIDTH="100%">

	<COL SPAN="4" ALIGN="left">
	<THEAD>
	<TH>secuencia<TH>Nombre<TH>Descripcion<TH>Asignar Roles<TH>AsignarTipoItem
	<TFOOT>

	<TR>
	<TD>1<TD>asdf<TD>fjfjfjfjffj<TD><center><input type='submit' value='ir'></center><TD><center><input type='submit' value='ir'></center>
	<TR>
	<TD>2<TD>asdfjg<TD>eueueuggkdfj<TD><center><input type='submit' value='ir'></center><TD><center><input type='submit' value='ir'></center>
	<TR>
	<TD>3<TD>asdfgj<TD>eruiui<TD><center><input type='submit' value='ir'></center><TD><center><input type='submit' value='ir'></center>
	<TR>
	<TD>4<TD>asdfgj<TD>rueirinnj<TD><center><input type='submit' value='ir'></center><TD><center><input type='submit' value='ir'></center>
	<TR>
	<TBODY>

</TABLE>

</div>	
<BR>
<BR>
<TABLE BORDER WIDTH="30%">

<div><center>
<input type='submit' value='Definir'>
<input type='submit' value='ImportarFases'>
<input type='submit' value='cancelar'>
</center></div>
<BR>

</TABLE>

        </form>
    </body>
</html>