{% extends "layout.html" %}
{% block body %}

<body class = formato2>
	<form class='estilos' action="{{ url_for('defFases')}}" method="post">
		<H1><CENTER>Definicion de Fases</CENTER></H1>
		<div style="height:150px;width:750px;overflow:auto;">	
			<br>
			<input type='hidden' name="proyecto" value={{ proyecto}}>
			<TABLE WIDTH="100%" BORDER="1">
				<tr>
					<th scope="col">Secuencia</th>
					<th scope="col">Nombre</th>
					<th scope="col">Descripcion</th>
					<th scope="col">OK</th>
				</tr>
				{% for fase in listFases %}
					{% if fase.estado != 'eliminada' %}
						<tr>
							<td>{{ fase.posicionfase }}</td>
							<td>{{ fase.nombre}}</td>	
							<td>{{ fase.descripcion }}</td>
							<td><input name="select" type="radio" value={{ fase.idfase }} checked /></td>
						</tr>
					{% endif %}  	
				 {% endfor %}
			 </TABLE>
	    </div>
	    <center>
	    <input type="submit" name="opcion" value="Nueva Fase"/>
	    <input type="submit" name="opcion" value="Eliminar" onclick="return confirmar('¿Está seguro que desea eliminar?')"/>
	    <input type="submit" name="opcion" value="Modificar"/>
	    <br><br>
	    <input type="submit" name="opcion" value='Asignar Roles'/>
		<input type='submit' name="opcion" value='Asignar Tipo de Item'/>  
		<input type="submit" name="opcion" value='Importar Fase'/>
		<br><br>	
		<input type="submit" name="opcion" value="Iniciar Proyecto"onclick="return confirmar('¿Está seguro de que desea iniciar el proyecto? Las fases ya no seran modificables ni sera posible asignar tipos de item ni roles')"/>
		<input type="submit" name="opcion" value="Atras"/>
		</center>
	</form>
</body>
{% endblock %}