{% extends "layout.html" %}
{% block body %}
<body class = formato3>
  
        <form class='estilos'>
	<center>	
	<ul class="nav">
	    <li><a href="">Modulo de <br> Administracion</a>
		 <ul>
		      <li><a href="{{ url_for('admUsr') }}">Usuarios</a></li>
		      <li><a href="{{ url_for('admRol') }}">Roles</a></li>
		      <li><a href="{{ url_for('conPerm') }}">Permisos</a></li>
		      <li><a href="{{ url_for('admProy') }}">Proyectos</a></li>

		  </ul>
	    </li>
	    <li><a href="">  Modulo de    <br>Desarrollo</a>
		<ul>
		    	<li><a href="{{ url_for('admTipoItem') }}">Tipos de Items</a></li>
		    	<li><a href="{{ url_for('abrirProyecto') }}">Abrir Proyecto</a></li>		    	
		</ul>
	    </li>

	    <li><a href="">Modulo de <br>Gestion de Cambios</a>
		<ul>
			<li><a href="{{ url_for('abrirProyectoEnGC') }}">Abrir Proyecto</a></li>	
		    <li><a href="">Solicitud de Cambio</a></li>
		</ul>
	    
	    </li>
	    <li><a href="">Configuracion <br>de Cuenta</a>
		<ul>
		    <li><a href="{{ url_for('confCnt') }}">Modificar Datos</a></li>
		</ul>
	    
	    </li>
	    <li><a href="">Acerca</a>
		<ul>
		    <li><a href="">Historia</a></li>
		    <li><a href="">Mision</a></li>
		    <li><a href="">Vision</a></li>
		</ul>
	    </li>
	</ul>
	            <li><a href="{{ url_for('logout') }}"><u>Log Out</a></li>
	<br>
	<br>
	<img src="{{ url_for('static', filename='img/sgplogo.jpg') }}" width = 800px;
    height= 600px>
	<br>

</center>
</form>

</body>
{% endblock %}