{% extends "layout.html" %}
{% block body %}
<body class=formato5>
        <form class='estilos' action="{{ url_for('proyectoX') }}" method=post>
             <br>
             <center><label>VISUALIZACION DEL PROYECTO</label>
             <br>
             <br>
             {% if name is defined %}
             <img src="{{ url_for('static', filename= 'img/'+name) }}" width = 40%>
             
             <img src="{{ url_for('static', filename='img/obs.jpg') }}" width = 400px, ALIGN=RIGHT>
             
             {% endif %}
             </center>
             <center><div><input type='submit' name="opcion" value='Actualizar grafo'></div>
             <HR WIDTH=90% SIZE=6>
             </center>
             
             <br>
             <br>
   

             <form class='estilos' action="{{ url_for('proyectoX') }}" method=post>
            
            <div><label>Seleccionar Fase</label>
					<div><br>	
							<select name="fase">						
								{% if faseSeleccionada %}
									<option value={{faseSeleccionada.idfase }}>
									{{ faseSeleccionada.posicionfase }}-{{ faseSeleccionada.nombre }}
									</option>
									{% for fase in listFases %}
											{%	if fase.idfase != faseSeleccionada.idfase and  fase.estado != 'eliminada'%}														
													<option value={{fase.idfase }}>{{ fase.posicionfase }}-{{ fase.nombre }}</option>
							 				{%	endif %}
							 		{% endfor %}
								{% else %}
									{% for fase in listFases %}
										{% if fase.estado != 'eliminada' %}
												<option value={{fase.idfase }}>{{ fase.posicionfase }}-{{ fase.nombre }}</option>
							 			{%	endif %}
							 		{% endfor %}								
								{% endif%}
						
							</select>
				    </div>
            		<br>

					<input type='submit' name="opcion" value='Mostrar Items'>
	        </div>
	            <div><label>Items de fase seleccionada:</label>
	            	<br>
	            	<div style="height:150px;width:200px;overflow:auto;">	
	            	<table width="50%" border="1">
					<tr>
					<th scope="col"> </th>
					<th scope="col">NOMBRE</th>
					<th scope="col">ESTADO</th>					
					</tr>
						{% for item in listItem %}
						{% if item.estado != 'eliminado' %}
						<tr>
						<td><input name="iditem" type="radio" value={{ item.iditem }} checked /></td>	
						<td>{{ item.nombre }}</td>	
						<td>{{ item.estado}}</td>
						</tr>  	
						{% endif %}  	
						{% endfor %}
					</table>
				    <br>        
            </div>


           
            <div>
            <center>
            <input type='submit' name="opcion" value='Crear'>
            <input type='submit' name="opcion" value='Relacionar'>
            <input type='submit' name="opcion" value='Consultar'>            
            <input type='submit' name="opcion" value='Modificar'>
            <input type='submit' name="opcion" value='Eliminar'>
             </div>
            </center>
            
            <div>
            <center>                     
            <input type='submit' name="opcion" value='Adjuntar Archivo'>            
            <input type='submit' name="opcion" value='Administrar Historial'>
            <input type='submit' name="opcion" value='Revivir'>
            </div>
            </center>
            
            <div>
            <center>                        
            <input type='submit' name="opcion" value='Finalizar Fase' 
            onclick="return confirmar('¿Está seguro que desea finalizar la fase? No podra agregar ni quitar items despues de finalizar la fase')">
            
            <input type='submit' name="opcion" value='Generar reporte de Solicitudes de cambio'>
            <input type='submit' name="opcion" value='Generar reporte de Lista de Items'>
            </center>
            </div>  
            <input type="text" name="buscar"/>
            <select name="atributo">
			<option value="nombre">Nombre</option>
			</select>
			<input type="submit" name="opcion" value="Buscar" />          
            <div><center><input type='submit' name="opcion" value='Cerrar Proyecto'></center></div>
 
        </form>
     
        
    </body>
{% endblock %}