{% extends "layout.html" %}
{% block body %}
<body class=formato5>
        <form class='estilos' action="{{ url_for('proyectoXenGC') }}" method=post>
             <br>
             <center><label>VISUALIZACION DEL PROYECTO</label>
             <br>
             <br>
             {% if name is defined %}
             <img src="{{ url_for('static', filename= 'img/'+name) }}" width = 40%>
             
             <img src="{{ url_for('static', filename='img/obs.jpg') }}" width = 400px, ALIGN=RIGHT>
             
             {% endif %}
             </center>
             <center><div><input type='submit' name="opcion" value='Actualizar grafo'></div>
             <HR WIDTH=90% SIZE=6>
             </center>
             <br>
             <br>             
             <form class='estilos' action="{{ url_for('proyectoXenGC') }}" method=post>
            <div><label>Seleccionar Fase</label>
					<div><br>	
							<select name="fase">						
								{% if faseSeleccionada %}
									<option value={{faseSeleccionada.idfase }}>
									{{ faseSeleccionada.posicionfase }}-{{ faseSeleccionada.nombre }}
									</option>
									{% for fase in listFases %}
											{%	if fase.idfase != faseSeleccionada.idfase and  fase.estado != 'eliminada'%}														
													<option value={{fase.idfase }}>{{ fase.posicionfase }}-{{ fase.nombre }}</option>
							 				{%	endif %}
							 		{% endfor %}
								{% else %}
									{% for fase in listFases %}
										{% if fase.estado != 'eliminada' %}
												<option value={{fase.idfase }}>{{ fase.posicionfase }}-{{ fase.nombre }}</option>
							 			{%	endif %}
							 		{% endfor %}								
								{% endif%}
						
							</select>
				    </div>
            		<br>
					<input type='submit' name="opcion" value='Mostrar Lineas Bases'>
	        </div>
	            <div><label>Lineas Bases de fase seleccionada:</label>
	            	<br>
	            	<div style="height:150px;width:200px;overflow:auto;">	
	            	<table width="50%" border="1">
					<tr>
					<th scope="col"> </th>
					<th scope="col">Nro</th>
					<th scope="col">ESTADO</th>					
					</tr>
						{% for lineabase in listLB %}
							{% if lineabase.estado != 'eliminado' %}
							<tr>
							<td><input name="idlineabase" type="radio" value={{ lineabase.idlineabase }} checked /></td>	
							<td>{{ lineabase.numero }}</td>	
							<td>{{ lineabase.estado}}</td>
							</tr>  	
							{% endif %}
						{% endfor %}
					</table>
				    <br>        
            </div>
            <div>
            <center>
            <input type='submit' name="opcion" value='Nueva Linea Base'>
            <input type='submit' name="opcion" value='Eliminar Linea Base' onclick="return confirmar('¿Está seguro que desea eliminar?')">
            <input type='submit' name="opcion" value='Add/Quitar Items'>
            </center>
            <br>
            <center>
            <input type='submit' name="opcion" value='Cerrar Linea Base' 
            onclick="return confirmar('¿Está seguro que desea cerrar la Linea Base? No podrá agregar ni quitar items después de haber cerrado')">
			<input type='submit' name="opcion" value='Consultar'>
            </center>
            </div>  
            <input type="text" name="buscar"/>
            <select name="atributo">
			<option value="estado">Estado</option>
			</select>
			<input type="submit" name="opcion" value="Buscar" />          
            <div><center><input type='submit' name="opcion" value='Cerrar Proyecto'></center></div>

        </form>
    </body>
{% endblock %}