{% extends "layout.html" %}
{% block body %}
<body class=formato1>
        <form class='estilos' action="{{ url_for('proyectoX') }}" method=post>
             <br>
            <div><label>Seleccionar Fase</label>
					<div><br>	
							<select name="fase">
								{% for fase in listFases %}
										<option value={{fase.idfase }}>{{ fase.posicionfase }}-{{ fase.nombre }}</option>
							 	{% endfor %}						
							</select>
				    </div>
            		<br>
					<input type='submit' name="opcion" value='Mostrar Items'>
	        </div>
	            <div><label>Items de fase seleccionada:</label>
	            	<br>
	            	<div style="height:150px;width:200px;overflow:auto;">	
	            	<table width="50%" border="1">
					<tr>
					<th scope="col"> </th>
					<th scope="col">NOMBRE</th>
					<th scope="col">ESTADO</th>					
					</tr>
						{% for item in listItem %}
						<tr>
						<td><input name="iditem" type="radio" value={{ item.iditem }} checked /></td>	
						<td>{{ item.nombre }}</td>	
						<td>{{ item.estado}}</td>
						</tr>  	
						  	{% endfor %}
					</table>
				    <br>        
            </div>
            
            <div><center><input type='submit' name="opcion" value='Crear Item'>
            <input type='submit' name="opcion" value='Relacionar'>
            </center></div>  
            <label>Nombre:</label>
			<input type="text" name="buscar"/> <input type="submit" name="opcion" value="Buscar" />          
            <div><center><input type='submit' name="opcion" value='Cerrar Proyecto'></center></div>

        </form>
    </body>
{% endblock %}