{% extends "layout.html" %}
{% block body %}
	<body class=formato1>
        <form class='estilos' action="{{ url_for('relacion') }}" method=post>
       	<center><h1>RELACION ENTRE ITEMS</h1></center>
          <br>
          <br>
            <div><label>Tipo de Relacion:</label><br>
				{% if bool %}
					<select name="tipo">
							<option value="padre-hijo">Padre-Hijo</option>
							<option value="sucesor-antecesor">Sucesor-Antecesor</option>
					</select>
				{% else %}
					<select name="tipo">
							<option value="sucesor-antecesor">Sucesor-Antecesor</option>
							<option value="padre-hijo">Padre-Hijo</option>
					</select>
				{% endif %}
            <br> <br>
            <input name='opcion' type='submit' value='Mostrar Item'>         
            <br> <br>
            <div><label>Lista de Items<label></div>
		<div style="height:150px;width:150px;overflow:scroll;">	
		<TABLE BORDER WIDTH="70%">
		<COL SPAN="4" ALIGN="left">
			<tr>
			<th scope="col">ITEM</th>
			<th scope="col">OK</th>
			</tr>
            	{% for item in listItem %}
            		{% if item.iditem != iditem %}
						<tr>
						<td>{{ item.nombre }}</td>
						{% if item.iditem in relacionadoList %}
							<td><INPUT TYPE="checkbox" NAME="iditemList" checked="checked" VALUE={{ item.iditem }}></td>
						{% else %}
							<td><INPUT TYPE="checkbox" NAME="iditemList" VALUE={{ item.iditem }}></td>
						{% endif %}
						</tr>  	
					{% endif %}
  				{% endfor %}
			</table>
			</div>
			
		    <div><center>
		    <input name='opcion' type='submit' value='Guardar'>
		    <input name='opcion' type='submit' value='Cancelar'>		    	     
			</center></div>
        </form>
    </body>
{% endblock %}